:root {
  --color-primary: #1c1a19;
  --color-sccent: #ff6b00;
  --color-secondary: #fff5e1;
  --color-body: #000;
  --color-white: #fff;
  --color-tool-bar-background: #3c3a39;
  --color-border: #8993a4;
  --color-footer-icon: #505f79;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: var(--color-white);
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-body);
  margin: auto;
}

@keyframes logo-motion {
  from {
    padding-left: 0;
    color: var(--color-white);
  }

  50% {
    padding-left: 30%;
    color: aqua;
  }

  to {
    padding-left: 0;
    color: var(--color-white);
  }
}

.tool-bar {
  width: 100%;
  height: 5.5rem;
  padding: 0 5rem;
  background-color: var(--color-tool-bar-background);
}

.nav-holder {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 100%;
  height: inherit;
}

.tool-bar-logo {
  align-items: center;
  color: var(--color-white);
  display: flex;
  flex-grow: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  left: 2.4rem;
  line-height: 2.4rem;
  animation-name: logo-motion;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  order: 0;
  text-align: center;
  text-decoration: none;
}

.header-navigation {
  display: flex;
}

.wide-navigation {
  display: none;
}

.wide-navigation-items {
  list-style-type: none;
  align-self: center;
  display: flex;
}

.wide-navigation-items a {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--color-white);
  padding: 1.5rem;
  text-decoration: none;
  align-items: center;
  transition: all 0.3s ease;
}

.wide-navigation-items a:hover {
  color: var(--color-sccent);
  padding-top: 0;
}

.menu-button {
  align-items: flex-start;
  border-radius: 0.8rem;
  align-self: center;
  height: 4rem;
  padding: 0.8rem;
  width: 4rem;
}

@media screen and (min-width: 768px) {
  .nav-holder {
    max-width: 1224px;
  }

  .menu-button {
    display: none;
  }

  .wide-navigation {
    display: flex;
  }
}

@media screen and (min-width: 900px) {
  @keyframes logo-motion {
    50% {
      padding-left: 40%;
      color: var(--color-sccent);
    }
  }
}

/* Heading */

.heading {
  width: 100%;
  height: fit-content;
  background-color: var(--color-primary);
}

.heading-container {
  display: flex;
  flex-direction: column;
  padding: 12rem 2.4rem;
  row-gap: 1.2rem;
}

.heading-text {
  display: flex;
  flex-direction: column;
  padding: 0;
  row-gap: 1.2rem;
  order: 0;
}

.primary-text {
  color: var(--color-sccent);
  flex-grow: 0;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.37px;
  line-height: 6.4rem;
}

.support-text {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.2rem;
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-white);
  flex: none;
  order: 2;
  flex-grow: 0;
}

.heading-social {
  order: 0;
  display: flex;
  flex-direction: row;
}

.social-media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.2rem;
}

.social-media-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.8rem;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
}

.heading-image {
  order: 4;
  display: flex;
  justify-content: end;
  align-items: center;
}

.hero-image1 {
  position: absolute;
  right: 0;
}

.hero-image2 {
  display: none;
}

@media screen and (min-width: 940px) {
  .heading-container {
    flex-direction: row;
    padding-left: 2rem;
    column-gap: 3rem;
    width: 100%;
  }

  .heading-social {
    order: 0;
    flex-direction: column;
    align-self: center;
  }

  .social-media-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: fit-content;
  }

  .social-media-icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.8rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.8rem;
  }

  .heading-text {
    max-width: 45rem;
    row-gap: 2.4rem;
    padding-left: 4rem;
    order: 1;
  }

  .primary-text {
    font-size: 7.2rem;
  }

  .support-text {
    font-weight: 500;
    font-size: 3.2rem;
  }

  .heading-image {
    order: 2;
  }

  .hero-image1 {
    display: none;
  }

  .hero-image2 {
    display: block;
    width: 45rem;
    position: absolute;
    right: 0;
    top: 5.5rem;
  }
}

/* Work section */

.work-section-container {
  width: 100%;
  max-width: 1224px;
  padding: 12rem 2.4rem;
  margin: auto;
}

.title-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  margin-bottom: 7rem;
}

.title-message {
  height: 8.3rem;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-primary);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-separator {
  width: inherit;
}

.image {
  width: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 1.2rem;
  width: 100%;
  height: 30.7rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.post-heading {
  font-size: 3.2rem;
  height: 36px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.post-description {
  width: inherit;
  height: 14.7rem;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.tag-items {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 1.2rem;
  border: 1px solid var(--color-border);
}

.seeProject-button {
  text-decoration: none;
  color: var(--color-primary);
  padding: 1.2rem;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: var(--color-sccent);
  flex: none;
  order: 3;
  flex-grow: 0;
}

.card-holder {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.4rem;
  margin: auto;
}

.work-card {
  width: 100%;
  max-width: 40rem;
  height: 38.6rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2.2rem;
  background-image: url(../images/project-background.svg);
}

.info-holder {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
  row-gap: 1.2rem;
  margin-top: auto;
}

.project-heading {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-description {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-feature-items {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 1.2rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-section {
  width: 100%;
  height: 4.8rem;
  display: flex;
}

.card-button {
  text-decoration: none;
  text-align: center;
  padding: 1.2rem 0;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: var(--color-sccent);
  cursor: pointer;
}

.dark-font {
  color: var(--color-primary);
}

.white-font {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .card-holder {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    row-gap: 3.7rem;
    margin: auto;
  }
}

@media screen and (min-width: 940px) {
  .work-section-container {
    margin: auto;
    padding: 12rem 3rem;
  }

  .title-card {
    grid-template-columns: 1fr 1fr;
  }

  .title-card:nth-child(2) {
    grid-template-columns: 3fr 1fr;
  }

  .title-separator {
    width: 100%;
    align-self: center;
  }

  .image {
    width: 100%;
  }

  .card-holder {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
    row-gap: 3.7rem;
    margin: auto;
  }

  .work-card {
    width: 100%;
    overflow: hidden;
  }

  .button-section {
    max-height: 0;
    transition: all 0.5s ease;
  }

  .work-card:hover > .button-section {
    max-height: 100%;
  }

  .card-button:hover {
    color: var(--color-sccent);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-sccent);
  }
}

/* About me */

.background-black {
  background-color: var(--color-primary);
}

.about-me-section {
  width: 100%;
  padding: 12rem 2.4rem;
}

.about-me-container {
  display: flex;
  flex-direction: column;
}

.accent-color {
  color: var(--color-sccent);
}

.about-me-heading-holder {
  display: grid;
  grid-template-columns: 1fr;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.about-me {
  font-size: 6.2rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-description {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.get-my-resume {
  padding: 1.2rem;
  background-color: var(--color-sccent);
  border: 1px solid var(--color-sccent);
  width: fit-content;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.get-my-resume:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.get-my-resume:active {
  background-color: #e05304;
  border: 1px solid #e05304;
  color: #f4f1f0;
}

.about-me-hero {
  position: relative;
  float: right;
  right: -2.4rem;
  bottom: 10rem;
}

.about-me-hero2 {
  display: none;
}

.separator {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-me-features {
  display: grid;
  grid-template-columns: 1fr;
  flex: none;
  order: 2;
  flex-grow: 2;
}

.feature {
  display: flex;
  flex-direction: column;
}

.feature-title {
  display: flex;
  flex-direction: row;
  column-gap: 1.2rem;
  justify-content: center;
  margin: 3rem 0;
}

.feature-title-heading {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
}

.feature-items {
  list-style-type: none;
  margin: 3.2rem 0;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
}

@media screen and (min-width: 940px) {
  .about-me-section {
    padding: 12rem 14.35rem;
    row-gap: 4.8rem;
  }

  .about-me-heading-holder {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-me-features {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-me-hero {
    display: none;
  }

  .about-me-hero2 {
    display: block;
    width: 100%;
    position: relative;
    right: -14rem;
  }
}

/* contact me / footer */

.footer-container {
  width: 100%;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.contact-me-holder {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 5rem;
  row-gap: 5rem;
}

.form {
  width: 100%;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.4rem;
}

.form-heading {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-align: center;
  padding: 0 2.4rem;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.full-name {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.form-input {
  width: 100%;
  border-width: 0;
  font-size: 1.5rem;
  padding: 1.4rem;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  outline: none;
  transition: all 3s ease-out;
}

.firstname {
  display: none;
}

.lastname {
  display: none;
}

.form-input:focus {
  border-bottom: 1px solid var(--color-sccent);
  border-bottom-width: 100%;
}

.form-message {
  width: 100%;
  padding: 1.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #fbf8f7;
  border: 0;
  outline: none;
  transition: all 1s ease;
}

.form-message::placeholder {
  color: var(--color-tool-bar-background);
}

.form-message:focus {
  border: 1px solid var(--color-sccent);
}

.footer-social-media {
  width: 100%;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dbd8d7;
}

@media screen and (min-width: 768px) {
  .contact-me-holder {
    grid-template-columns: 0.7fr 1fr;
    padding: 13rem;
  }

  .form {
    align-items: flex-start;
  }

  .form-heading {
    text-align: left;
  }

  .full-name {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .fullname {
    display: none;
  }

  .firstname {
    display: block;
  }

  .lastname {
    display: block;
  }

  .desktop-view {
    flex-direction: row;
  }
}
